services:
  web:
    image: nginx:latest
    ports:
      - "7777:80"

  psql16:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysuperpassword

  psql17:
    image: postgres:17
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysuperpassword
